
# Python Tutorial

## Printing

In [2]:
print("Hello Wolrd")
print(9)
print(10+9)

Hello Wolrd
9
19

## Variables

In [6]:
name = "Pushpa"   #string variable
age = 30          #integer variable
price = 25.99     #float variable

print(name,age,price)  #print variable 
print("Your name is : ",name) #Print variable with strings

Pushpa 30 25.99
Your name is :  Pushpa

***Note :***
- variable name can have any character, digit and underscore.\
- variable name can not start with number so 1var in not valid but var1 is valid\
- variable name can not have special characters like !@#$%& etc\
- You cannot set variable name as keywords(e.g. Ture, False, return, for etc)\

***Python is case sensitive language. That means lowercase variable name is not same as uppercase variable name.
Variable age and Age are 2 different variables***

In [8]:
age=36
Age=40
AGE=20

print(age)
print(Age)
print(AGE)

36
40
20

***type() function : gives the data type of the variable***

In [7]:
print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

## Data Types
***Python is implict typed language that means you don't have to mention data type while delcaring variable***
### 1.Integer
- Integer variable can store +ve or -ve number (20 or -20) and also 0

In [9]:
age=26
print(type(age))

<class 'int'>

### 2.Strings
- String datatype variable can store any charachter like a-z, A-Z, 0-9 and special character !@#$%^&*

In [15]:
#different ways of asigning string value to a variable
name1 ="Rahul" #mostly used
name2 ='30'
name3 ='''priya@#*%'''

print(name1,name2,name3,type(name3))  #if you use single print function then it will print the output in same line

Rahul 30 priya@#*% <class 'str'>

***Indexing***\
string index starts from 0 \
  a p p l e\
  0 1 2 3 4

you can access any character from string using index

note : you cannot change the value of string using index

In [46]:
food="Cake"
print(food[3])

#food[3]="o"   ----this will give the error as 'str' object does not support item assignment

e

***Slicing***\
you can access part of string or substring using slicing\
str[0:2] this will give you string from 0 index to 1st index as 2 index is not included

to travers string in revrse manner you can use negative indexing\
 a  p  p  l  e\
-5 -4 -3 -2 -1

In [60]:
food="Pizza"
print(food[0:3])
print(food[2:4])
print(food[2:])  #when you not provide ending index it will by default take last index
print(food[:4])  #when you not provide starting index it by default take 0

print(food[-4:-1])

Piz
zz
zza
Pizz
izz

***String Functions***
There are many string functions present in python some are given below\

len() --gives length of string\
str.capitalize() --convert first letter of string in upper case\
str.endswith("s") --checks if string is ending with s or not\
str.count("@") --counts no. of times @ is present in the string\
str.find("%") --returns the index where first % character is found

In [66]:
str1="my Name is Riya. my age is 23."

print("length : ",len(str1))
print("capitalized string:",str1.capitalize())
print("string ends with (he) ?",str1.endswith("he"))
print("count of string 'my' :",str1.count("my"))
print("string 'Riya' is present at index :",str1.find("Riya"))

length :  30
capitalized string: My name is riya. my age is 23.
string ends with (he) ? False
count of string 'my' : 2
string 'Riya' is present at index : 11

### 3.Float
- float datatype variable can store decimal values

In [13]:
price=20.9
print(type(price),price)

<class 'float'> 20.9

### 4.Boolean
- Boolean datatype variable can store boolean value i.e True or False (T & F should be in uppercase)

In [14]:
result1=True
result2=False

print(type(result1),result2)

<class 'bool'> False

### 5.None

- None datatype is used when you don't want to assign any value to the variable but want to just declare the variable

In [16]:
grade = None
print(type(grade),grade)

<class 'NoneType'> None

## Types of operators

- Arithmatic operator (+,-,*,/,//,%,**)
- Relational/Comparison operator (==,!=,>,<,>=,<=,)
- Assignment operator (=,-=,*=,/=,%=,//=,**=)
- Logical Operator (not, and , or)
- Membership Operator (in, not in)
- Identity Operator (is, is not)
- Bitwise Operator (&, |, ^)

## Expression Execution

- String & number values can operate together with *

In [20]:
a,b = 2,3  # multiple variables can assign value together like this
txt = "@"
print(2*txt*3)

@@@@@@

- String & String values can operate with +

In [43]:
a,b = "2",3
txt = "@"
print((a+txt)*b)  # + sign concate the 2 string variable values

2@2@2@

- numeric values can operate with all arithmatic operators

In [23]:
a,b,c= 2,3,-4
print(a*b+c)

2

- Arithmatic operation with integer and float result in float

In [25]:
a,b = 2,0.5
print(a*b)
print(a-b)

1.0
1.5

- Integer division with float and int will give int but displays as float value

integer division gives closest integer, which is lesser than or equal to float value
e.g  0.1 -> 0\
5.2 -> 5\
7.99 ->7\
-5.3 ->-6\
5.0 -> 5\
2 -> 2

In [30]:
a,b=1.5,3
print(a/b,a//b)  ## ineger division(//) gives result as 0 but displayed as 0.0

0.5 0.0

## User Inputs

In [34]:
#String input
name = input("Name : ")

#int input
age = int(input("Age : "))

#Boolean input
result= bool(input("Result : "))

Name : raj
Age : 34
Result : True

## Conditional Statements

### if-elif-else 

note : you can write if in different ways as per your need as below 
1. if-elif-else
2. if-elif-elif-...-else
3. if-elif
4. if-else
5. if

In [37]:
age= int(input("Age :"))

if(age>=18):
    print("Adult")
elif(age>=10 and age<18):
    print("young")
else:
    print("child")

Age :23
Adult

### Nested if-else

when one if condition has another if condition then it is called nested if

In [68]:
##check if the input no. is greater than 20 if yes then check if it is even no. or not, else print no. is less than 20

num=int(input("enter a no.:"))

if(num>20):
    if(num%2==0):
        print("num is even number and greater than 20")
    else:
        print("num is odd number and greater than 20")
else:
    print("num is less than 20")

enter a no.:30
num is even number and greater than 20

### Ternary Operator

***termary operator is nothing but single line if statement***

Syntax: \
***singleline if***\
(var) = (var_1) if (condition) else (var_2) \
if condition is true then it will print var_1 else it will print var_2 and store it in var

***clever if***\
(var)=(false_val,true_value) [condition]

In [41]:
food = input("food :")

eat= "yes" if food == "cake" else "no"   # == is used in if for comparison, not =
print(eat)

#clever if
eat2= ("No","Yes") [food!="cake"]
print(eat2)

food :cake
yes
No

## Built-in Datatype

### 1.List

- List is bulit-in datatype that stores set of values of any datatype
- In one list we can store different datatype values together
- list mostly work same as string but the main difference between list and string is that string is inmutable but list is mutable
- list can also store another list,tuple,dictionory,set
- list index is also starts from 0

In [2]:
marks=[20,40,50,60,50]

print(marks)
print(type(marks))

[20, 40, 50, 60, 50]
<class 'list'>

In [3]:
student=["Raj",30,"class-A",20.5] #list with different datatypes

#we can change the value of list object
student[1]=20
print(student)

['Raj', 20, 'class-A', 20.5]

In [4]:
#Slicing
days=["mon","tue","wed","thus","fir","sat","sun"]

print(days[1:4])
print(days[2:])
print(days[:3])
print(days[-3:-1])

['tue', 'wed', 'thus']
['wed', 'thus', 'fir', 'sat', 'sun']
['mon', 'tue', 'wed']
['fir', 'sat']

***List Functions***

In [16]:
#list Functions
marks=[20,40,50,60,50]

#length
print("Length of list :",len(marks))

#append
marks.append(80)  #adds given value at the end of list
print("Append 80 at the end :",marks)

#sort
marks.sort()  #sort list in ascending order
print("sort list in ascending order :",marks)

marks.sort(reverse=True)  #sort list in descending order
print("sort list in descending order :",marks)

#reverse
marks.reverse()  #reverse the list
print("reverse the list :",marks)

#insert
marks.insert(3,74)
print("insert 74 at the 3rd index position :",marks)

#remove
marks.remove(50)  #it will delete first 50 value from the list
print("Remove 50 from list :",marks)

#pop
marks.pop(5)
print("pop the value at the index 5 :",marks)

Length of list : 5
Append 80 at the end : [20, 40, 50, 60, 50, 80]
sort list in ascending order : [20, 40, 50, 50, 60, 80]
sort list in descending order : [80, 60, 50, 50, 40, 20]
reverse the list : [20, 40, 50, 50, 60, 80]
insert 74 at the 3rd index position : [20, 40, 50, 74, 50, 60, 80]
Remove 50 from list : [20, 40, 74, 50, 60, 80]
pop the value at the index 5 : [20, 40, 74, 50, 60]

## 2.Tuple

- Tuple is a bulit-in datatype that is immutable sequence of values
- syntax: tup=(val1,val2,val3)
- empty tuple : tup=()
- when you want to keep only one value then just add ',' at the end e.g tup=(3,)

In [17]:
week_days=("mon","tue","wed","thus","fir","sat","sun")

print(week_days)
print(type(week_days))

('mon', 'tue', 'wed', 'thus', 'fir', 'sat', 'sun')
<class 'tuple'>

### Tuple Functions

In [19]:
#Tuple methods
week_days=("mon","tue","wed","thus","fir","sat","sun")

#index
print(week_days.index("wed"))

#count
print(week_days.count("mon"))

2
1

## Practice exercise

1.Write a program to ask the user to enter names of their 3 favorite color and store them in a list

In [21]:
colors=[]
colors.append(input())
colors.append(input())
colors.append(input())

print(colors)

pink
black
red
['pink', 'black', 'red']

2. write a program to check if a list contains a palindrome of elements

In [23]:
list1=[1,2,3,2,1]

list2=list1.copy()
list1.reverse()

if(list1==list2):
     print("list contains palindrome")
else:
    print("list does not contain palindrome")

list contains palindrome

3. write a program to count the number of students with the "A" grade in the following tuple ("C","D","A","A","B","A")

In [24]:
grade=("C","D","A","A","B","A")

print(grade.count("A"))

3

## 3.Dictionary

- Dictionaries are used to store data values in key:value pairs
- they are unordered, mutable & don't allow duplicates keys
- dictionary **values** can be any datatype
- dictionary **key** can not be list or tuple
- Syntax :   dict ={key1:value1, key2:value2, key3:value3}
- empty dictionary: dict ={}

In [26]:
dict={"name":"Riya", "Age":20, "Grade":"B", "Subject":("Maths","English")}

print(dict)
print(type(dict))

{'name': 'Riya', 'Age': 20, 'Grade': 'B'}
<class 'dict'>

In [33]:
info={"name":"Riya",
      "Age":20,
      "Grade":"B",
      "Subject":("Maths","English")}

print(info["name"])

Riya

In [34]:
#update info dictionary

info["name"]="Priya"
info["surname"]="Sharma"  #added new key value pair

print(info)

{'name': 'Priya', 'Age': 20, 'Grade': 'B', 'Subject': ('Maths', 'English'), 'surname': 'Sharma'}

#### Nested Dictionary

In [46]:
student={"name":"Riya",
      "Age":20,
      "Grade":"B",
      "Subject":{"Maths":60,"English":90}}

print(student)
print(student["Subject"])
print(student["Subject"]["Maths"])

{'name': 'Riya', 'Age': 20, 'Grade': 'B', 'Subject': {'Maths': 60, 'English': 90}}
{'Maths': 60, 'English': 90}
60

### Dictionary Functions

In [55]:
#Keys()
print(student.keys())  #result is in tuple 

#values
print(student.values())

#items
print(student.items()) #convert each key:value as tuples and returns list of tuples

#get()
print(student.get("Age"))

#Update(newDict)
student.update({"city":"Pune"})
print(student)

dict_keys(['name', 'Age', 'Grade', 'Subject'])
dict_values(['Riya', 20, 'B', {'Maths': 60, 'English': 90}])
dict_items([('name', 'Riya'), ('Age', 20), ('Grade', 'B'), ('Subject', {'Maths': 60, 'English': 90})])
20
{'name': 'Riya', 'Age': 20, 'Grade': 'B', 'Subject': {'Maths': 60, 'English': 90}, 'city': 'Pune'}

## 3.Set 

- set is the collection of unordered items
- each collection in the set must be unique & immutable 
- we can not store list or dictionary in set
- Syntax :  set_name ={val1,val2,val3}
- empty set : set_name = set()

***interview question: set is mutable or not? - ans: set's existing elements can not be change or update, but we can add or remove new elemets in the set***

In [67]:
collection ={1,2,4,"d",4,6,7,3,8}

print(collection)  #it will ignore the duplicate values

print(len(collection)) #it will ignore the duplicate values

{1, 2, 3, 4, 6, 7, 8, 'd'}
8

### Set Functions

In [76]:
collection ={1,2,4,"d",4,6,7,3,8}
#add
collection.add("C")
print(collection)

#remove
collection.remove("d")
print(collection)

#pop
print(collection.pop())  #pop any random value

#clear
collection.clear()  #will empty the set
print(collection)

#union
set1={1,3,4}
set2={2,5,7,3}
print(set1.union(set2))

#intersection
print(set1.intersection(set2))

{1, 2, 3, 4, 6, 7, 8, 'C', 'd'}
{1, 2, 3, 4, 6, 7, 8, 'C'}
1
set()
{1, 2, 3, 4, 5, 7}
{3}

### Practice Exercise

- you are given a list of subjects for students. Assume one classroom is required for 1 subject. How many classrooms are needed by all students.

 subjects : python,java,C++,python,javascript,java,python,java,C++,C

In [78]:
subjects={"python","java","C++","python","javascript","java","python","java","C++","C"}

print("no. of classrooms required:",len(subjects))

no. of classrooms required: 5

## Loops

### 1.While Loops

***Syntax*** :\  
While condition:\
    #some work\
    
While loop will execute the process untill the condition is true

In [79]:
#print hello five times using while loop
count=1
while count<=5:
    print("hello")
    count += 1  #it is same as (count=count+1)

hello
hello
hello
hello
hello

### Let's Practice

1.Print numbers from 1 to 10

In [81]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

2. print numbers from 10 to 1

In [85]:
i=10
while i>=1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

3.print the multiplication table of a number n

In [86]:
n=int(input())
i=1
while i<=10:
    print(i,'*',n,'=',i*n)
    i=i+1

5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

4.Print the elements of the following list using a loop
 [1,4,9,16,25,36,7]

In [87]:
list1=[1,4,9,16,25,36,7]
i=0
while i<len(list1):
    print(list1[i])
    i=i+1

1
4
9
16
25
36
7

### Break & continue keyword

***Break*** : Break keyword will terminate the whole loop and come out of it.\
***Continue*** : continue will only terminate current iteration and move on to the next iteration

5.search for number x given by user in this tuple using loop\
(1,4,9,16,25,36,7)

In [99]:
x=int(input("enter a number:"))
tup=(1,4,9,16,25,36,7)
i=0

while i<len(tup):
    if(tup[i]==x):
        print("your number is present in the list")
        break
    i=i+1
if(i==len(tup)):
    print("your number is not present in the list")

enter a number:0
your number is not present in the list

6.Print only odd numbers from 1 to 10

In [101]:
i=1
while i<=10:
    if(i%2==0):
        i=i+1
        continue
    print(i)
    i=i+1

1
3
5
7
9

### 2.For Loop

- for sequential travers we use for loop

***Syntax***\
***for loop***\
for i in list:\
 some work\
\
***for loop with else***\
for i in list:\
some work\
else:\
work when loop ends

In [103]:
#example
days=["mon","tue","wed","thus","fri","sat","sun"]

for value in days:
    print(value)
else:            #else is optional when you want to do some work after loop you can use else 
    print("end")

mon
tue
wed
thus
fri
sat
sun
end

### Let's Practice

1.print the elements for the following list using a loop\
[4,6,3,7,2,8]

In [104]:
a=[4,6,3,7,2,8]

for i in a:
    print(i)

4
6
3
7
2
8

2.search for number x in this tuple using loop
(4,28,78,45,2,0)
\

Note: when we check one by one element from list to search perticular lement it is called ***Linear Search***

In [110]:
x=int(input("Enter a number:"))
t=(4,28,78,45,2,0)

for i in t:
    if(i==x):
        print("found")
        break
#else will only excute when for loop is fully completed 
#if it break in between then else part will not execute 
else:    
    print("not found")

Enter a number:4
found

### Range() function

-range function returns a sequence of numbers,starting from 0 by default, and increments by 1(by default) and stops before a specified number.

***Syntax*** :\
range(start_where,stop,step_size)

In [113]:
seq = range(5)  #it will store 0 to 4 number in a list 
#here 0 is start by default,5 is stop condition, and 1 is step by default
for i in seq:
    print(i)

0
1
2
3
4

In [114]:
 for i in range(2,10):  #as we have included start number it is started from 2
        print(i)

2
3
4
5
6
7
8
9

In [115]:
for i in range(2,10,2):
    print(i)

2
4
6
8

### Let's Practice

print numbers from 10 to 1

In [116]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

Print multiplication table of n number

In [117]:
n= int(input("Enter a number"))

for  i in range(1,11):
    print(n*i)

Enter a number3
3
6
9
12
15
18
21
24
27
30

### Pass Statement

pass is null statement that does nothing. It is used as a placeholder for future code.

In [118]:
for i in range(5):
    pass

## Functions

- function is block of statements that perform a specific task. function is used to reduce redendancy in the code and increase reusability\
\
Syntax: \
#defination of function or declare function as \
def Fun_name(parameter_1,parameter_2,....):\
    some work\
    return value\
\
#function call\
fun_name(argumnets1,argument2,..)\
\
Note: function may or may not return a value. It's optional

In [119]:
#Sum function

def cal_sum(a,b):
    sum=a+b
    print(sum)

cal_sum(3,4)

7

#### Types of function

1.Bulit-in functions :-\
    - this functions are already defined in the python.you can directly use those functions. \
    - e.g print(),input(),len(),type()
\
2.user defined functions :-\
    - this function is defined by user.
    
#### Default Parameters
Assigning a default value to parameter, which is used when no argument is passed.

Note: 1.you can make some parameter as defualt parameter and some as normal parameter\
2.default parameter should always be on right of normal parameters

In [127]:
#product function

def cal_prod(a=1,b=1): #we assigned default value to the parameters
    prod=a*b
    print(prod)

cal_prod()  #as we have not passed any arg it took default value
cal_prod(3) #as we have passed only 1 value it took a=1 & b=3
cal_prod(2,4) # it took a=2,b=4

1
3
8

### Let's Practice

1.Calculate factorial of n using function

2.Create a function to convert Euro t INR

### Recursion

when a function calls itself repeatedly it is called recursive function.
It is same as loops.

In [130]:
#print n to 1 numbers 
def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)   #show function is calling itself

#call function only once
show(5)

5
4
3
2
1

In [131]:
#print factorial n!
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
    
factorial=fact(5)
print(factorial)

120

## File Input/output in python

python can be used to perform operations on a file.(read & write data)

types of all files\
1.Text files : .txt, .docx , .log etc\
2.Binary files : .mp4, .mov, .png, .jpeg\

### Open, Read & Close file

f=open("file_name","mode")

Mode\
'r'- read file\
'w'- open file for writing, truncating the file first\
'x'- Create a new file and open it for writing\
'a'- open for writing, appending to the END of the file it it exists\
'b'- Binary mode\
't'- text mode(default)\
'+'- Open a disk file for updating(reading and writing)
'r+'- we can read and write the file.it will not truncate file but pointer will be at the start\
'w+'- we can read write the file. It will truncate the file \
'a+'- we can read & append data in file. It will not truncate the file but pointer will be at the end\

file.read()\
file.readline() - read file line by line

In [134]:
f=open("MyFile.txt","r")

print(f.read())
f.close()

My name is Aarati.

writing to file

In [136]:
f=open("MyFile.txt","w")

f.write("\nI am a data Engineer")  #it will trucate all data from file and write new data
f.close()

#### With Syntax

with open("demo.txt","a") as f:\
    data=f.read()\
    
It will close the file automatically

In [138]:
with open("MyFile.txt","r") as f:
    data=f.read()
    print(data)
    
with open("MyFile.txt","w") as f:
    f.write("New Data")

I am a data Engineer

### Deleting a file

using the os module\

import os\
os.remove(filename)

In [139]:
import os

os.remove("MyFile.txt")

## Let's Practice

1. Create a new file "Practice.txt" using python. Add the following data in it\
Hi everyone\
We are learning file I/O\
using Java\
I like programming in Java.

In [140]:
with open("Practice.txt","w") as f:
    f.write("Hi everyone\nWe are learning file I/O \n")
    f.write("using Java \nI like programming in Java.")

2. Write a program to replace all occurences of "Java" with "Python"

In [141]:
with open("Practice.txt","r") as f:
    data=f.read()

new_data=data.replace("Java","Python")
print(new_data) 

with open("Practice.txt","w") as f:
    data=f.write(new_data)

Hi everyone
We are learning file I/O
using Python
I like programming in Python.

3. Search if "learning" word in a file

In [143]:
word="learning"
with open("Practice.txt","r") as f:
    data=f.read()
    if(data.find(word)!=-1):
        print("found")
    else:
        print("not found")

found

# OOPs in Python

## Class 
class is a blueprint for creating objects. for example if you want store info of many students then you can define class of students which will hold all related variables and functions of student.

There are some bulit in class presnt in python e.g string,list,integer etc

### Object
object is instance of a class.

In [148]:
#creating class
class student:
    name="Karan"  #creating variables in class
    roll_no=1
    
#creating object or instance of class
s1=student()  #s1 is the object of class
print(s1)
print(s1.name)
print(s1.roll_no)

<__main__.student object at 0x000001A8FE533FA0>
Karan
1

### Constructor of class
all classes have a function called '_ _init_ _()', which is always executed when the class is being initiated or you can say when isntance of class or object of class is created

it will automatically created by python and it is called default constructor. you can modify this constructor function as well

we pass **self** parameter to the constructor it a object of a class. It is mandatory parameter

In [153]:
class Student:
    name="Karan"
    roll_no=1
    
    #default Constructor
    def __init__(self):
        print("It's a Constructor")
        print(self)
        
#student 1        
s1=Student() #when you write class_name() then it will call constructor fun

#student 2
s2=Student()

It's a Constructor
<__main__.Student object at 0x000001A8FE5335E0>
It's a Constructor
<__main__.Student object at 0x000001A8FE533B20>

In above class we created student_1 student_2 but every time it is taking name as Karan and roll_no as 1, as variables have given fix value. to make class more usable and if want to create new student everytime then we can make class **constructor parameterised** as below

variables created in class is called **attributes**

In [161]:
class Student:

    #Parameterised constructor
    def __init__(self, fullname,RollNo):
        self.name=fullname    #created variables and asigned parametrised values to it
        self.roll_no=RollNo
        
#student 1        
s1=Student("Rahul",1) #passed rahul and 1 as arguments 
print(s1.name)
print(s1.roll_no)

#student 2
s2=Student("Riya",2) #passed riya and 2 as arguments 
print(s2.name)
print(s2.roll_no)

Rahul
1
Riya
2

### Class & instance attributes

there are 2 types of attributes
1. **Class attributes** - class attributes(variables) are common for every objects created on a single class. e.g variable collage_name is common for every student

2. **Instance attributes** - instance attributes are different for every object created on a class. e.g student name variable is different for every student

In [163]:
class Student:
    #class attribute
    collage_name="JSPM"
    
    #Parameterised constructor
    def __init__(self, fullname,RollNo):
        #instance attributes
        self.name=fullname   
        self.roll_no=RollNo
        
#student 1        
s1=Student("Rahul",1) 
print(s1.name)
print(s1.roll_no)
print(s1.collage_name)

#student 2
s2=Student("Riya",2) 
print(s2.name)
print(s2.roll_no)
print(s2.collage_name)

Rahul
1
JSPM
Riya
2
JSPM

## Methods

methods are functions that belong to objects.

we have added constructors and variables in class, now we can create functions in the class.

In [167]:
class Student:
    #class attribute
    collage_name="JSPM"
    
    #Parameterised constructor
    def __init__(self, fullname,RollNo):
        #instance attributes
        self.name=fullname   
        self.roll_no=RollNo
        
    def welcome(self):
        print("welcome student")
        
    def get_RollNo(self):
        return self.roll_no
        
#student 1        
s1=Student("Rahul",1) 
print(s1.name)
print(s1.roll_no)
print(s1.collage_name)

#called the class method
s1.welcome()  
number=s1.get_RollNo()
print(number)

Rahul
1
JSPM
welcome student
1

## Let's Practice

Create Student class that takes name & marks of 3 subjects as arguments in constructor. Then create a method to print the average.

In [172]:
class Student:
    
    def __init__(self,Name,Marks):
        self.Name=Name
        self.Marks=Marks
        
    def Average(self):
        avg=( self.Marks[0] + self.Marks[1] + self.Marks[2] ) /3
        print("Hi",self.Name,"your average score is",avg)
        
s1=Student("Riya",[60,78,87])
s1.Average()

Hi Riya your average score is 75.0

### Static Methods

Methods that don't use the self parameter(work at class level) is called **static Methods**

In [173]:
class Student:
    #class attribute
    collage_name="JSPM"
    
    #Parameterised constructor
    def __init__(self, fullname,RollNo):
        #instance attributes
        self.name=fullname   
        self.roll_no=RollNo
    
    @staticmethod    #decorator
    def welcome():
        print("welcome student")
        
    def get_RollNo(self):
        return self.roll_no
        
#student 1        
s1=Student("Rahul",1) 

#called the static method
s1.welcome()

welcome student

### Del object
used to delete object properties of a class

In [185]:
class Student:
    def __init__(self,name):
        self.name = name
        
s1= Student("Riya")
print(s1.name)

del s1

print(s1.name)  # as s1 is deleted it will gives an error

Riya

NameError: name 's1' is not defined

### Public & Private attribute and methods
private attributes & methods are meant to be used only within the class and are not accessible from outside the class.

To make variable and function in class private we add '__' before variable or function name

In [174]:
class Person:
    __name="Unknown"  #private attribute
    
p1=Person()
print(p1.__name)  # it gives the error as we can not access this outside the class

AttributeError: 'Person' object has no attribute '__name'

so private variables are created to kept some info private e.g interest_rate variable can be a private attribute in Bank_Account class.\
Similarly get_password() method can also be private method in a class

### Let's Practice
create Account class with 2 attribute - balance & acc_no. create methods for debit, credit & printing the balance

In [183]:
class Account:
    
    def __init__(self):
        self.Acc_no=23458
        self.balance=10000
    
    def get_balance(self):
        print("your balance is ",self.balance)
        
    def debit(self,amt):
        self.balance -= amt
        print(amt,"is debited from your account!")
        self.get_balance()
        
    def credit(self,amt):
        self.balance += amt
        print(amt,"is credited to your account!")
        self.get_balance()
        
acc1=Account()
acc1.get_balance()
acc1.debit(1000)
acc1.credit(500)

your balance is  10000
1000 is debited from your account!
your balance is  9000
500 is credited to your account!
your balance is  9500

 ## Four Pillars of Object Oriented Programming
 
***1.Abstraction\
 2.Encapsulation\
 3.Inheritance\
 4.Polymorphisom***\
 
 ### Abstraction
 Hiding the implementation details of a class and only showing the essential features to the user.

In [177]:
class Car:
    def __init(self):
        self.Acc = False
        self.brk = False
        self.clutch = False
        
    def start(self):
        self.clutch = True
        self.acc = True
        print("car started")
        
car1=Car()
car1.start()  
#here when we call start function we don't know what kind of processes are
#applied to start a car. It is written all inside the class this is called abstraction

car started

### 2.Encapsulation
Wrapping data & function into single unit(object)

### 3.Inheritance
when one class(child/derived) derives the properties & methods of another class(parent/base)

e.g\
class Car:   --it is a parent class

class TataCar(Car):   --It is a child class

here Car class will have some functions which will be given to TataCar class

In [188]:
class Car:
    @staticmethod
    def start():
        print("car started....")
        
    @staticmethod
    def stop():
        print("car stoped....")
        
class KiaCar(Car):
    def __init__(self,name):
        self.name=name
        
car1 = KiaCar("Syros")
car2 = KiaCar("Creta")

print(car1.name)
car1.start()    
#since KiaCar class does not have start function it should give an error.
#but KiaCar class is inherited Car class all the functions and avariable of car class is available for KiaCar class

Syros
car started....

### Inheritance type

- Single inheritance
- multilevel inheritance
- multiple inheritance

above example is of single inheritance where there is single parent -child is present

- Multilevel inheritance

In this there is one base class which is inherited by child class and that child again inherited by another child class.

In [189]:
class Car:
    @staticmethod
    def start():
        print("car started....")
        
    @staticmethod
    def stop():
        print("car stoped....")
        
class KiaCar(Car):
    def __init__(self,brand):
        self.brand=brand
        
class Creta(KiaCar):
    def __init__(self,type):
        self.type =type
        
car1 = Creta("diesel")
car1.start()  
#Creta can access objects from both Car & KiaCar class

car started....

- **Multiple inheritance**

once child can have multiple parents.

In [192]:
class A:
    varA = "welcome to class A"
    
class B:
    varB = "welcome to class B"
    
class C(A,B):
    varC = "Welcome to class C"
    
c1=C()
print(c1.varA)
print(c1.varB)
print(c1.varC)

welcome to class A
welcome to class B
Welcome to class C

#### Super Method
super() method is used to access methods of the parent class

In [200]:
class Car:
    def __init__(self,type):
        self.type=type
    
    def start(self):
        print("car started....")
        
    @staticmethod
    def stop():
        print("car stoped....")
        
class KiaCar(Car):
    def __init__(self,name,type):
        super().__init__(type)
        self.name=name
        super().start()
        
        
car1 = KiaCar("Syros","Diesel")

print(car1.type)

car started....
Diesel

### class method
a class method is bound to the class & receives the class as implicit first argument.

In [203]:
class Person:
    name="Unknown"
    
    @classmethod
    def changeName(cls, name):
        cls.name = name
        
P1=Person()
print(P1.name)

P1.changeName("Riya")  #It will change the class variable value 
print(P1.name)

Unknown
Riya

**Summarise method types**

1. **Static methods** - when we are not using or accesing any class objects or any instance objects in method we use static methods.
2. **class methods** - when we want to change only class objects or variable then we use class methods. we pass class object while creating class methods like changeName(**cls**)
3. **instance methods(normal methods)** - when we want to use & change instance attribute we use instance methods. we pass instance object while creating this method like print_balance(**self**)

## 4.Polymorphism 

when same operator is allowed to have different meaning according to context it is called polymorphism

e.g '+' operator in case of number adds to number\
'+' operator in case of string concatenate 2 strings\
'+' operator in case of string merge the 2 list

In [205]:
print(3 + 4)  #addition 7
print("Hello" +  "World")  #Concatenate
print([2,3,4]+[5,6,7])  #merge

7
HelloWorld
[2, 3, 4, 5, 6, 7]

hence same '+' operator is performing different operations which is define in perticluar class.